:root {
    --main-color: #970808;
    --black: #000000;
    --dark: #141414;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
                url("img/ChatGPT\ Image\ 4\ de\ fev.\ de\ 2026\,\ 10_32_49.png");
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    padding: 40px;
    width: 450px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 0 50px var(--main-color);
    text-align: center;
}

.logo {
    color: var(--main-color);
    font-size: 2.8rem;
    font-weight: 900;
    letter-spacing: 5px;
    margin-bottom: 35px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form label {
    text-align: left;
    color: #b3b3b3;
    font-size: 1.2rem;
}

.login-form input {
    padding: 12px;
    border-radius: 4px;
    background-color: #333;
    color: var(--white);
    font-size: 1.1rem;
}

.login-form input::placeholder {
    color: #8c8c8c;
}

.login-form input:focus {
    outline: 2px solid var(--main-color);
}

/* Botão */
.btn input {
    margin-top: 30px;
    padding: 10px 9.3rem;
    background-color: var(--main-color);
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}

.btn input:hover {
    background-color: var(--dark);
    transition: 0.5s;
}

.btn input:hover {
    color: var(--main-color);
    transition: 0.5s;
}